@media only screen and (max-width: 600px) {
    .modal-content-senha{
        width: 100% !important;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

.modalEsqueciSenha{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: hidden;
}

.modal-content-senha{
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: auto;
}

.senha{
    width: 100%;
}

.formRecuperacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formRecuperacao span{
    text-align: center;
    width: 60%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.formRecuperacao input{
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 6px;
    border: 0px;
    border-bottom: 1px solid black;
}

.formRecuperacao button{
    border-radius: 6px;
    border: 1px solid grey;
    cursor: pointer;
    padding: 6px;
    margin-bottom: 20px;
}

.formRecuperacao button:hover{
    outline: none;
}