@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

.homeApp{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    height: calc(100vh - 70px);
}