@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

.homeApp{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    height: calc(100vh - 70px);
}

.btnVerde{
    color: white !important;
    background-color: rgb(5, 185, 59) !important;
    cursor: pointer;
}

.btnVermelho{
    color: white;
    margin-top: 10px;
    background-color: red;
    cursor: pointer;
}

.check{
    color: white;
    background-color: rgb(5, 185, 59);
    font-size: 0.8em;
    padding: 3px;
    border-radius: 1000px;
}

.carregando{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.carregando img{
    filter: opacity(30%);
    width: 200px;
}

::-webkit-scrollbar {
    width: 8px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: rgb(5, 185, 59); /* cor do controle de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(5, 185, 59); /* cor do controle de rolagem quando o cursor está sobre ele */
}

.text-center{
    margin-top: 10px;
    text-align: center;
}

.iconeLoading{
    font-size: 50px;
}