.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.411);
    margin-bottom: 20px;
}

.footer h4{
    margin-top: 35px;
}

.footer p{
    margin-top: 10px;
    color: grey;
}