.cadastroEmpresa{
    height: 100%;
}

.select{
    padding: 4px;
    margin-top: 10px;
    border-radius: 8px;
}

.credenciaisRegister{
    margin-top: 20px;
}

.addProduto{
    border: 1px solid rgba(128, 128, 128, 0.473);
    margin-top: 6px;
    padding: 6px;
    background-color: rgb(166, 252, 166);
    border-radius: 8px;
    cursor: pointer;
}

.w50{
    width: 148px !important;
}

.abrirRestaurante{
    cursor: pointer;
    color: white;
    background-color: black;
    width: 95%;
    border: 1px solid rgba(128, 128, 128, 0.438);
    padding: 6px;
    border-radius: 6px;
}

.gerenciarEmpresa{
    justify-content: center;
}