@media only screen and (max-width: 600px) {
    .finalizarPedidoSection{
        display: grid;
        grid-template-columns: auto !important;
        margin: 0 auto;
        width: 80%;
        height: 100% !important;
    }

    .infoEntrega{
        order: 2;
        margin-top: 30px;
        width: 100% !important;
    }

    .infoPedido{
        order: 1;
        width: 100%;
        min-height: 350px;
    }

    .tabelaFinalizarPedido{
        width: 100% !important;
        max-height: 250px !important; 
    }
}

@media only screen and (max-width: 992px) {
    .finalizarPedidoSection{
        display: grid;
        grid-template-columns: auto !important;
        margin: 0 auto;
        width: 80%;
        height: 100% !important;
    }

    .infoEntrega{
        order: 2;
        margin-top: 30px;
        width: 100% !important;
    }

    .infoPedido{
        order: 1;
        width: 100%;
        min-height: 350px;
    }

    .tabelaFinalizarPedido{
        max-height: 250px !important; 
    }
}

.finalizarPedidoSection{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
    width: 80%;
    padding-top: 110px;
    height: calc(100vh - 70px);
}

.entregaDados .subtotal{
    color: grey;
}

.entregaDados .total{
    color: green;
    margin-top: 10px;
    font-size: 20px;
}

.infoEntrega{
    width: 60%;
}

.infoEntrega h3{
    font-size: 1.8em;
    margin-bottom: 30px;
}

.infoEntrega input{
    padding: 3px 25px;
    font-size: 1.1em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    width: 80%;
    margin-bottom: 30px;
}

.infoEntrega input:focus{
    outline: none;
}

.infoEntrega p {
    margin-bottom: 10px;
}

.infoEntrega hr{
    margin-top: 10px;
    margin-bottom: 30px;
}

.pagamentoDados{
    display: flex;
    align-items: center;
    width: 90%;
    border: 1px solid green;
    height: 80px;
    border-radius: 12px;
    padding: 10px;
}

.pagamentoDados{
    margin-bottom: 50px;
}

.pagamentoDados img{
    margin-right: 10px;
}

.textoPagamento span{
    font-size: 14px;
}

.infoPedido{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.329);
    box-shadow: 0px 0px 5px rgb(173, 173, 173);
    border-radius: 8px;
    height: 80%;
    padding: 20px;
    width: 80%;
}

.infoPedidoDetalhes h3{
    margin-top: 10px;
    margin-bottom: 20px;
}

.infoPedidoDetalhes hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

.finalizarPedido{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.301);
}

.tabelaFinalizarPedido{
    max-height: 310px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(5, 185, 59) transparent;
    width: 100%;
}

.tabelaFinalizarPedido table{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding-right: 10px;
}

.entregaDadosCampoTexto{
    position: relative;
}

.entregaDadosCampoTexto .iconeInput{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 14px;
}