@media only screen and (min-width: 768px) {
    .restaurantesResultados{
        grid-template-columns: auto auto !important;
    }

    .empresaPesquisa{
        width: 86%;
    }
}

@media only screen and (min-width: 1200px) {
    .empresaPesquisa{
        width: 90%;
    }
}

.searchSection{
    height: 100vh;
}

.searchResults{
    width: 80%;
    margin-top: 60px;
}

.restaurantesResultados{
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    margin-top: 30px;
    height: auto
}

.empresaPesquisa{
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 15px;
}

.empresaPesquisaImg{
    width: 100px;
    height: 100px;
}

.empresaPesquisaImg img{
    width: 100%;
    border-radius: 8px;
}

.empresaPesquisaInfo{
    margin-left: 20px;
}