.restaurantePage{
    overflow: hidden;
}

.informacoesRestaurante{
    width: 80%;
}

.banner{
    margin-top: 10px;
    height: 220px;
}

.logoRestaurante{
    margin-top: -30px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
}

.banner img,
.logoRestaurante img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 5px solid white;
}

.info{
    margin-top: -80px;
    margin-left: 210px;
}

.verde{
    color: green;
}

.info{
    position: relative;
}

.icone{
    margin-left: 10px;
    margin-right: 5px;
    width: 10px;
}

.produtosRestaurante{
    margin-top: 60px;
}

.sessaoProdutos{
    margin-top: 12px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 200px 200px;
}

.produtoCadastrado{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.produtoCadastrado span{
    width: 85%;
    color: grey;
    font-size: 15px;
}


.produtoCadastradoInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.produtoCadastradoImg{
    height: 100%;
    width: 100%;
    background-color: black;
}