.loginSection{
    justify-content: center;
    background-color: rgb(125, 235, 125);
}

.credenciaisLogin{
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.credenciaisLogin h1{
    margin-top: 10px;
}

.credenciaisLogin span{
    margin-top: 20px;
}

.formLogin{
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.formLogin input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding: 6px 10px 6px 10px;
    width: 300px;
}

.formLogin input:focus{
    outline: none;
}

.formLogin button{
    cursor: pointer;
    margin-top: 25px;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: rgb(5, 185, 59);
    box-shadow: 0px 0px 2px grey;
    padding: 8px;
}

.btnCadastro{
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    width: 90%;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.315);
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 0px 2px grey;
    padding: 8px;
}

.esqueciASenha{
    font-size: 14px;
}