@media only screen and (max-width: 600px) {
    .ModalAddCarrinho{
        width: 100vw !important; /* Full width */
        height: 100vh !important; /* Full height */
    }

    .modal-content-carrinho{
        padding-top: 50px !important;
        width: 100% !important;
        height: auto !important;
    }

    .close{
        margin: 0px !important;
        padding-right: 50px !important;
        padding-bottom: 20px !important;
    }

    .produtoInfoEditar{
        display: flex !important;
        align-items: center !important;
        flex-direction: row !important;
        justify-content: center !important;
        width: 100% !important;
    }

    .produtoInfoEditar .produtoImgEditar{
        margin: 0px !important;
        padding: 0px !important;
        margin-right: 10px !important;
        width: 150px !important;
        height: 150px !important;
        margin-left: -50px !important;
    }

    .produtoCarrinhoEditar{
        width: calc(80% - 150px) !important;
    }

    .produtoInfoEditar .produtoImgEditar img{
        width: 100%;
    }

    .produtoCarrinhoEditar{
        margin: 0px !important;
    }
    
    .produtoBotoes{
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-left: -40px !important;
    }

    .produtoBotoes input{
        width: 10%;
    }

    .produtoBotoes button{
        width: 80%;
        padding: 10px;
    }
}

@media screen and (min-width: 600px) {
    .ModalAddCarrinho{
        width: 100vw !important; /* Full width */
        height: 100vh !important; /* Full height */
    }

    .modal-content-carrinho{
        padding-top: 50px !important;
        width: 100% !important;
        height: auto !important;
    }

    .close{
        margin: 0px !important;
        padding-right: 50px !important;
        padding-bottom: 20px !important;
    }

    .produtoInfoEditar{
        display: flex !important;
        align-items: center !important;
        flex-direction: row !important;
        justify-content: center !important;
        width: 100% !important;
    }

    .produtoInfoEditar .produtoImgEditar{
        margin: 0px !important;
        padding: 0px !important;
        margin-right: 10px !important;
        width: 150px !important;
        height: 150px !important;
        margin-left: -50px !important;
    }

    .produtoCarrinhoEditar{
        width: calc(80% - 150px) !important;
    }

    .produtoInfoEditar .produtoImgEditar img{
        width: 100%;
    }

    .produtoCarrinhoEditar{
        margin: 0px !important;
    }
    
    .produtoBotoes{
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-left: -40px !important;
    }

    .produtoBotoes input{
        width: 10%;
    }

    .produtoBotoes button{
        width: 80%;
        padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .ModalAddCarrinho{
        width: 100vw !important; /* Full width */
        height: 100vh !important; /* Full height */
    }

    .modal-content-carrinho{
        padding-top: 50px !important;
        width: 50% !important;
        height: auto !important;
    }

    .close{
        margin: 0px !important;
        padding-right: 50px !important;
        padding-bottom: 20px !important;
    }

    .produtoInfoEditar{
        display: flex !important;
        align-items: center !important;
        flex-direction: row !important;
        justify-content: center !important;
        width: 100% !important;
    }

    .produtoInfoEditar .produtoImgEditar{
        margin: 0px !important;
        padding: 0px !important;
        margin-right: 10px !important;
        width: 150px !important;
        height: 150px !important;
        margin-left: -50px !important;
    }

    .produtoCarrinhoEditar{
        width: calc(80% - 150px) !important;
    }

    .produtoInfoEditar .produtoImgEditar img{
        width: 100%;
    }

    .produtoCarrinhoEditar{
        margin: 0px !important;
    }
    
    .produtoBotoes{
        display: flex;
        justify-content: center;
        padding: 10px;
        margin-left: 0px !important;
    }

    .produtoBotoes input{
        width: 10%;
    }

    .produtoBotoes button{
        width: 80%;
        padding: 10px;
    }
}

.ModalAddCarrinho{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-carrinho{
    border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: auto;
}

.produtoCarrinhoEditar{
    margin-left: 15px;
    width: 60%;
}

.descricaoCarrinho{
    color: grey;
}

.preco{
    color: green;
}

.produtoCarrinhoEditar input{
    background-color: rgb(209, 209, 209);
    width: 10%;
    padding: 10px;
    border-radius: 8px;
    margin-right: 10px;
}

.produtoCarrinhoEditar span{
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.produtoCarrinhoEditar button{
    cursor: pointer;
    color: black;
    background-color: rgb(187, 187, 187);
    border-radius: 8px;
    border: 1px solid grey;
    padding: 10px;
    width: 80%;
}