.perfilUsuario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.perfilUsuario img{
    border: 1px solid black;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
}

.perfilInformacoesUsuario{
    display: flex;
    justify-content: center;
    width: 80%;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.418);
}

.detalhes{
    margin-top: 50px;
    margin-bottom: 80px;
}

.perfilInformacoesUsuario span{
    display: block;
    margin-top: 15px;
}

.perfilInformacoesUsuario input{
    border: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
    padding: 8px;
    margin-top: 15px;
    width: 60vw;
}

.perfilInformacoesUsuario input:focus{
    outline: none;
}

.perfilBotoes{
    display: flex;
    flex-direction: column;
}

.perfilBotoes{
    margin-top: 10px;
    width: 350px;
}

.perfilBotoes button{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 8px;
    cursor: pointer;
    padding: 10px;
    margin-top: 15px;
}

.btnSair{
    color: white;
    background-color: rgb(207, 69, 69);
}
