@media screen and (max-width: 600px) {
    .homeSearch{
        margin-left: 0px !important;
    }

    .homeSearch input{
        margin-top: 30px;
        padding: 10px 50px 10px 5px !important;
        width: 250px !important;
    }

    .slider{
        max-width: 100% !important;
        overflow-x: scroll !important;
    }

    ::-webkit-scrollbar {
        width: 8px !important; /* largura da barra de rolagem */
    }
    
    ::-webkit-scrollbar-track {
        background: transparent !important; /* cor do fundo da barra de rolagem */
    }
    
    ::-webkit-scrollbar-thumb {
        background: transparent !important; /* cor do controle de rolagem */
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: transparent!important; /* cor do controle de rolagem quando o cursor está sobre ele */
    }

    .homeComidasRecomendadas{
        margin-left: -35px !important;
    }

    .homeRestaurantesConteudo{
        margin-left: -12px !important;
        grid-template-columns: 450px !important;
    }

    .slider-container{
        margin-left: 70px !important;
    }

    .homeComidasConteudo{
        padding: 10px;
        margin-left: 10px;
        overflow-x: scroll !important;
    }
}

@media screen and (min-width: 600px) {
    .homeComidasRecomendadas{
        margin-left: -50px !important;
    }

    .homeRestaurantesConteudo{
        margin-left: -30px;
        grid-template-columns: 450px !important;
    }

    .slider-container{
        margin-left: 150px !important;
    }

    ::-webkit-scrollbar {
        width: 8px !important; /* largura da barra de rolagem */
    }
    
    ::-webkit-scrollbar-track {
        background: transparent !important;
    }
    
    ::-webkit-scrollbar-thumb {
        background: transparent !important; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: transparent!important; 
    }

    .slider{
        max-width: 100% !important;
        overflow-x: scroll !important;
    }

    .homeComidasConteudo{
        padding: 10px;
        width: 100%;
        margin-left: 10px;
        overflow-x: scroll !important;
    }
}

@media only screen and (min-width: 768px) {
    .homeRestaurantesConteudo{
        margin-left: -30px;
        grid-template-columns: 400px 400px !important;
    }
}

@media only screen and (min-width: 992px) {
    .homeRestaurantesConteudo{
        grid-template-columns: auto auto auto !important;
    }
}

@media screen and (min-width: 1200px) {
    .slider-container{
        margin-left: 250px !important;
    }

    ::-webkit-scrollbar {
        width: 8px !important; /* largura da barra de rolagem */
    }
    
    ::-webkit-scrollbar-track {
        background: #f1f1f1 !important; /* cor do fundo da barra de rolagem */
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(5, 185, 59) !important; /* cor do controle de rolagem */
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(5, 185, 59) !important; /* cor do controle de rolagem quando o cursor está sobre ele */
    }

    .slider-container{
        margin-left: 250px !important;
    }

    .slider{
        overflow-x: hidden !important;
    }

    .homeComidasConteudo{
        overflow-x: hidden !important;
    }
}

@media screen and (min-width: 1350px) {
    .slider-container{
        margin-left: 370px !important;
    }
}

.slider-container{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 155px;
}

.slider{
    display: flex;
    margin-top: 35px;
    margin-bottom: 2px;
}

.cardComida{
    margin-right: 40px;
}

.homeSection{
    height: calc(100% - 70px) !important;
    width: 100%;
    overflow: hidden;
}

.homeSearch{
    margin-left: 15px;
}

.sessaoComida img{
    background-color: rgba(120, 245, 120, 0.466);
    margin-top: 0px;
    width: 100%;
}

.homeSearch input{
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding: 6px 0px 6px 10px;
    width: 500px;
}

.homeSearch input:focus{
    outline: none;
}

.homeSearch button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.homeSearch svg{
    position: relative;
    top: 0px;
    right: 30px;
    width: 15px;
}

.homeSessoesComida{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-content: center;
    margin: 50px auto;
    width: 75%;
}

.cardComida{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.cardComida span{
    margin-top: 10px;
}

.sessaoComida{
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    box-shadow: 0px 0px 5px rgba(3, 189, 3, 0.459);
    height: 110px;
    width: 110px;
}

.homeComidasRecomendadas{
    margin-top: 40px;
    width: 80%;
}

.homeComidasInfo{
    margin-bottom: 20px;
}

.homeComidasConteudo{
    display: flex;
    max-width: 100vw;
    overflow-x: scroll !important;
}

.comidasRecomendadas{
    margin-top: 25px;
    height: 150px;
    width: 260px;
    background-color: grey;
}

.homeRestaurantes{
    margin-top: 45px;
    margin-bottom: 10px;
    width: 80%;
}

.restaurantesRecomendados{
    margin-top: 25px;
    height: 150px;
    width: 260px;
    background-color: grey;
}

.homeRestaurantesConteudo{
    display: grid;
    grid-template-columns: auto auto auto;
}

.homeComidasConteudo::-webkit-scrollbar-heigth {
    height: 2px;
}

.homeComidasConteudo::-webkit-scrollbar-track {
    background: transparent !important;
}